<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" media='(max-width: 820px)' rel="stylesheet" href="/css/form copy.css" />
    <link type="text/css" media='(min-width: 820px)' rel='stylesheet' href='/css/form.css' />
    <title>
        <%= pageTitle %>
    </title>
</head>


<body>
    <div id="container">
        <div id="left" style="order: 1;">
            <h1>Top ranked porn stars</h1>
            <ul style="list-style-type:none;">
                <li style="margin-top:20px;margin-bottom:20px;">
                    <a href="/star/Danie Daniels">Danie Daniels</a>
                </li>
                <li style="margin-top:20px;margin-bottom:20px;">
                    <a href="/star/Mia Malkova">Mia Malkova</a>
                </li>
                <li style="margin-top:20px;margin-bottom:20px;">
                    <a href="/star/Mia Khalifa">Mia Khalifa</a>
                </li>

                <li style="margin-top:20px;margin-bottom:20px;">
                    <a href="/star/Sunny Leone">Sunny Lenone</a>
                </li>
                <li style="margin-top:20px;margin-bottom:20px;">
                    <a href="/star/Natalia Starr">Natalia Starr</a>
                </li>
                <li style="margin-top:20px;margin-bottom:20px;">
                    <a href="/star/Lana Roahdes">Lana Roahdes</a>
                </li>
                <li style="margin-top:20px;margin-bottom:20px;">
                    <a href="/star/Autumn Falls">Autumn Falls</a>
                </li>
                <li style="margin-top:20px;margin-bottom:20px;">
                    <a href="/star/Alina Lopez">Alina Lopez</a>
                </li>
                <li style="margin-top:20px;margin-bottom:20px;">
                    <a href="/star/Adriana Chechik">Adriana Chechik</a>
                </li>
                <li style="margin-top:20px;margin-bottom:20px;">
                    <a href="/star/Aaliyah hadid">Aaliyah Hadid</a>
                </li>
            </ul>
        </div>
        <div id="form" style="order: 2;">
            <h2>Fill this form to submit your favourite porn star to main page</h2>
            <form action="/add-image" method="POST" id="Porn" class="product-form" enctype="multipart/form-data">
                <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                <div class="form-control">
                    <label for="Name" style="color:white;font-weight:bolder;font-size:x-large">Star</label>
                    <input type="text" id="title" name="title">
                </div>

                <div class="form-control">
                    <label for="Name" style="color:white;font-weight:bolder;font-size:x-large">Image</label>
                    <input type="file" id="image" name="image" title=" " style="color:white" />

                </div>
                <div class="form-control">
                    <label for="Name" style="color:white;font-weight:bolder;font-size:x-large">Tags</label>
                    <input type="text" id="tags" name="tags">
                </div>


                <button type="submit" style="margin-left: 250px;" id="button">Submit</button>
            </form>


        </div>
        <div id="right" style="order: 3;">
            <h1>Here are some other services </h1>
            <ul style="list-style-type: none;">
                <li>
                    <a href="/videos" target="_blank">Videos</a>
                </li>
                <li>
                    <a href="/images" target="_blank">Images</a>
                </li>
                <li>
                    <a href="/onlyFans" target="_blank">Only fans</a>
                </li>
                <li>
                    <a href="/live" target="_blank">Live</a>
                </li>
                <li>
                    <a href="/messaging" target="_blank">Messaging</a>
                </li>
                <li>
                    <a href="/products?page=1&row=nan" target="_blank">Products</a>
                </li>



                </ </ul>
        </div>
    </div>
    <footer></footer>
</body>

</html>