<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>


<h1 class="heading">This is the collection of your favourite porn stars added by you

    <br><a href="/form" style="text-decoration:none;color:white;font-style:italic;text-shadow:2px 2px 3px black">Form</a>
    <br><a href="/items" style="text-decoration:none;color:white;font-style:italic;text-shadow:2px 2px 3px black">Items</a>
</h1>

<body>
    <div class="container">
        <article class="item" id="product1">
            <h1>Name of porn star</h1>
            <div id="img">
                <img src="/images/danie daniels.jpg" alt="Image of your favourite porn star">
            </div>
            <div id="price">
                <h2>Price</h2>
                <p>Why you like porn star</p>
            </div>
            <div id="btn">
                <button type="submit">Add to main page</button>
            </div>
        </article>
        <article class="item" id="item2">
            <h1>Name of porn star</h1>
            <div id="img">
                <img src="/images/eva.jpg" alt="Image of your favourite porn star">
            </div>
            <div id="price">
                <h2>Price</h2>
                <p>Why you like porn star</p>
            </div>
            <div id="btn">
                <button type="submit">Add to main page</button>
            </div>
        </article>
        <article class="item" id="item3">
            <h1>Name of porn star</h1>
            <div id="img">
                <img src="/images/gandi baat.jpg" alt="Image of your favourite porn star">
            </div>
            <div id="price">
                <h2>Price</h2>
                <p>Why you like porn star</p>
            </div>
            <div id="btn">
                <button type="submit">Add to main page</button>
            </div>
        </article>
        <article class="item" id="item4">
            <h1>Name of porn star</h1>
            <div id="img">
                <img src="/images/malkova.jpg" alt="Image of your favourite porn star">
            </div>
            <div id="price">
                <h2>Price</h2>
                <p>Why you like porn star</p>
            </div>
            <div id="btn">
                <button type="submit">Add to main page</button>
            </div>
        </article>
        <article class="item" id="item5">
            <h1>Name of porn star</h1>
            <div id="img">
                <img src="/images/mastram.jpg" alt="Image of your favourite porn star">
            </div>
            <div id="price">
                <h2>Price</h2>
                <p>Why you like porn star</p>
            </div>
            <div id="btn">
                <button type="submit">Add to main page</button>
            </div>
        </article>
        <article class="item" id="item6">
            <h1>Name of porn star</h1>
            <div id="img">
                <img src="/images/mia.jpg" alt="Image of your favourite porn star">
            </div>
            <div id="price">
                <h2>Price</h2>
                <p>Why you like porn star</p>
            </div>
            <div id="btn">
                <button type="submit">Add to main page</button>
            </div>
        </article>
        <article class="item" id="item7">
            <h1>Name of porn star</h1>
            <div id="img">
                <img src="/images/poonam.jpg" alt="Image of your favourite porn star">
            </div>
            <div id="price">
                <h2>Price</h2>
                <p>Why you like porn star</p>
            </div>
            <div id="btn">
                <button type="submit">Add to main page</button>
            </div>
        </article>
        <article class="item" id="item8">
            <h1>Name of porn star</h1>
            <div id="img">
                <img src="/images/sasha.jpg" alt="Image of your favourite porn star">
            </div>
            <div id="price">
                <h2>Price</h2>
                <p>Why you like porn star</p>
            </div>
            <div id="btn">
                <button type="submit">Add to main page</button>
            </div>
        </article>
        <article class="item" id="item9">
            <h1>Name of porn star</h1>
            <div id="img">
                <img src="/images/savita.jpg" alt="Image of your favourite porn star">
            </div>
            <div id="price">
                <h2>Price</h2>
                <p>Why you like porn star</p>
            </div>
            <div id="btn">
                <button type="submit">Add to main page</button>
            </div>
        </article>
        <article class="item" id="item10">
            <h1>Name of porn star</h1>
            <div id="img">
                <img src="/images/sunny.jpg" alt="Image of your favourite porn star">
            </div>
            <div id="price">
                <h2>Price</h2>
                <p>Why you like porn star</p>
            </div>
            <div id="btn">
                <button type="submit">Add to main page</button>
            </div>
        </article>
        <article class="item" id="item11">
            <h1>Name of porn star</h1>
            <div id="img">
                <img src="/images/xxx.jpg" alt="Image of your favourite porn star">
            </div>
            <div id="price">
                <h2>Price</h2>
                <p>Why you like porn star</p>
            </div>
            <div id="btn">
                <button type="submit">Add to main page</button>
            </div>
        </article>
        <article class="item" id="item12">
            <h1>Name of porn star</h1>
            <div id="img">
                <img src="/images/danie daniels.jpg" alt="Image of your favourite porn star">
            </div>
            <div id="price">
                <h2>Price</h2>
                <p>Why you like porn star</p>
            </div>
            <div id="btn">
                <button type="submit">Add to main page</button>
            </div>
        </article>
    </div>
</body>

</html>