<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bio.css">
</head>

<body>
    <div id="profile" style="background-image: url('/<%= image %>')">
        <div id="name">
            <h1>
                <%= name %>
            </h1>
        </div>
        <div id="description">
            <p>
                <%= description %>
            </p>
        </div>
        <!-- <div id="views">
            <h2>Views:
                <%= view %>
            </h2>
        </div> -->

    </div>
    <div id="content">
        <h2>
            Videos
        </h2>
        <div id="videos">
            <div id="video">
                <video width="250" height="160" controls>
    <source src="/videos/17578_1080p.mp4" type="video/mp4">
  </video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
  <source src="/videos/17579_1080p.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/Alektra Blue And Dani Daniels In One Porn Scence-Plusone8.com.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/Amazing Babe Dani Daniels And The Machine-Plusone8.com.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/Arabian Teen Mia Khalifa Wants Black Cock - 720p Porn Movie-Plusone8.com.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
  <source src="/videos/Awesome pretty brunette girl Dani Daniels with Manuel - Plusone8.com.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/Big Tited Arab Babe Mia Khalifa Loves Cumshout-Plusone8.com.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/Dani Daniels and Jessi June goes lesbian on the couch-Plusone8com.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/Dani Daniels in a solo edition - Plusone8.com.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/LANA_RHOADES_GIVES_SLOPPY_SUCK_JOB_&_GETS_HER_PUSSY_POUNDED_IN_AUDITION(240P).mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/LANA_RHOADES_GIVES_SLOPPY_SUCK_JOB_&_GETS_HER_PUSSY_POUNDED_IN_AUDITION(480P).mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/p36.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/POVD_Next_Level_Message_Fuck_With_Lana_Rhoades(240P).mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/POVD_Next_Level_Message_Fuck_With_Lana_Rhoades(480P).mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/POVD_Next_Level_Message_Fuck_With_Lana_Rhoades(720P).mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/Qualified White Girl Dani Daniels-Plusone8.com.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/Sexy Arab Star Mia Khalifa Full HD Movie-Plusone8.com.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/Sexy_Teen_Stepsister_Lana_Rhoades_Does_The_Splits_On_Her_stepBrother's_Huge_Dick(240P).mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="public\videos\Sexy_Teen_Stepsister_Lana_Rhoades_Does_The_Splits_On_Her_stepBrother's_Huge_Dick(480P).mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/Sexy_Teen_Stepsister_Lana_Rhoades_Does_The_Splits_On_Her_stepBrother's_Huge_Dick(720P).mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/Sexy_Teen_Stepsister_Lana_Rhoades_Does_The_Splits_On_Her_stepBrother's_Huge_Dick(1080P).mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/stepsis_-_Lana_Rhoades_Big_Ass_Bouncing_On_My_Cock(240P).mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/stepsis_-_Lana_Rhoades_Big_Ass_Bouncing_On_My_Cock(480P).mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/stepsis_-_Lana_Rhoades_Big_Ass_Bouncing_On_My_Cock(720P).mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/video1 (1).mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/video1 (2).mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/xvideos.com_4a8e3af35630b1d0e9d0d2b557130467.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/xvideos.com_05fd80b7e102e1e4fcb55db66bce8399.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/xvideos.com_609e66323237435c25ac5c9e6c530c58.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/xvideos.com_9435fbca13f42f91b01398734a835226.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/xvideos.com_73106069ee4f2fd459920b1db5b44834.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/xvideos.com_a00e2cc6cc5bfee91ca2ee03b0e54363.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/xvideos.com_b81899b45ce9b4bd15cbf16b84c17bf0.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/xvideos.com_c19741f5ed1fb345f4b216c027d92204.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/xvideos.com_e36b475c17d81a5cd24d35af079ddbe8.mp4" type="video/mp4">
</video>
            </div>
        </div>
    </div>

</body>

</html>