<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" media='(max-width: 820px)' rel="stylesheet" href="/css/videos copy.css" />
    <link type="text/css" media='(min-width: 820px)' rel='stylesheet' href='/css/videos.css' />
    <title>
        <%= pageTitle%>
    </title>
</head>

<body style="background-color: black;">
    <div id="top">
        <header>
            <h1>Videos</h1>
        </header>
        <nav id="nav1">
            <a href="/">Home</a>
            <a href="/onlyFans">Only fans</a>
            <a href="/live">Live</a>
            <a href="/messaging">Chat</a>
            <a href="/products">Products</a>
        </nav>
        <br>
        <br>
        <br>
        <br>

        <nav id="nav2">
            <% video.forEach(vid => { %>
                <a href="<%= vid.url %>">
                    <%= vid.title %>
                </a>
                <% })%>
        </nav>
    </div>
    <div id="seprator"></div>
    <div id="container">
        <div id="category">
            <ul>
                <li>
                    <a href="#">Beautiful Teen</a>
                </li>
                <li>
                    <a href="#">Real Homemade</a>
                </li>
                <li>
                    <a href="#">Innocent</a>
                </li>
                <li>
                    <a href="#">Pain</a>
                </li>
                <li>
                    <a href="#">Natural</a>
                </li>
                <li>
                    <a href="#">Red Head Fucked</a>
                </li>
                <li>
                    <a href="#">Step Family</a>
                </li>
                <li>
                    <a href="#">Huge Tits</a>
                </li>
                <li>
                    <a href="#">Cheater</a>
                </li>
                <li>
                    <a href="#">Erotic</a>
                </li>
                <li>
                    <a href="#">Rough Fucking</a>
                </li>
                <li>
                    <a href="#">Young Sex</a>
                </li>
                <li>
                    <a href="#">Home Fuck</a>
                </li>
                <li>
                    <a href="#">Teacher Schoolgirl</a>
                </li>
                <li>
                    <a href="#">College Tenn</a>
                </li>
                <li>
                    <a href="#">Sisters</a>
                </li>
                <li>
                    <a href="#">Maid</a>
                </li>
                <li>
                    <a href="#">Teenager</a>
                </li>
                <li>
                    <a href="#">Stepmom</a>
                </li>
                <li>
                    <a href="#">Stepsister</a>
                </li>
                <li>
                    <a href="#">Kitchen</a>
                </li>
                <li>
                    <a href="#">Hentai</a>
                </li>
                <li>
                    <a href="#">Step Mother</a>
                </li>
                <li>
                    <a href="#">Lesbians</a>
                </li>
                <li>
                    <a href="#">Busty Teens</a>
                </li>
                <li>
                    <a href="#">Milfs</a>
                </li>
                <li>
                    <a href="#">Teacher</a>
                </li>
                <li>
                    <a href="#">Outdoor</a>
                </li>
                <li>
                    <a href="#">Curvy Mom</a>
                </li>
                <li>
                    <a href="#">Beautiful Pussy</a>
                </li>
                <li>
                    <a href="#">Asian Girl</a>
                </li>
                <li>
                    <a href="#">Crying</a>
                </li>
                <li>
                    <a href="#">Hot girl Fuck</a>
                </li>
                <li>
                    <a href="#">Amateur Blowjob</a>
                </li>
                <li>
                    <a href="#">Teen Porn</a>
                </li>
                <li>
                    <a href="#">Big tits</a>
                </li>
                <li>
                    <a href="#">Hot pussy</a>
                </li>
                <li>
                    <a href="#">Mistress</a>
                </li>
                <li>
                    <a href="#">Mom</a>
                </li>
                <li>
                    <a href="#">Threesome</a>
                </li>
                <li>
                    <a href="#">Party</a>
                </li>
                <li>
                    <a href="#">Japanese</a>
                </li>
                <li>
                    <a href="#">BBC</a>
                </li>
                <li>
                    <a href="#">Gangbanged</a>
                </li>
                <li>
                    <a href="#">Good Pussy</a>
                </li>
                <li>
                    <a href="#">Inocent Teen</a>
                </li>
                <li>
                    <a href="#">Hot Girlfriend</a>
                </li>
                <li>
                    <a href="#">Tiny Teen</a>
                </li>
                <li>
                    <a href="#">Mature Mom</a>
                </li>
                <li>
                    <a href="#">Step Family</a>
                </li>
                <li>
                    <a href="#">Massage Sex</a>
                </li>
                <li>
                    <a href="#">Domination</a>
                </li>
                <li>
                    <a href="#">Step Son</a>
                </li>
                <li>
                    <a href="#">Canadian</a>
                </li>
                <li>
                    <a href="#">Family sex</a>
                </li>
                <li>
                    <a href="#">Hot Cousin</a>
                </li>
                <li>
                    <a href="#">BDSM</a>
                </li>
            </ul>
        </div>
        <div id="videos">
            <div id="video">
                <video width="250" height="160" controls>
    <source src="/videos/17578_1080p.mp4" type="video/mp4">
  </video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
  <source src="/videos/17579_1080p.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/Alektra Blue And Dani Daniels In One Porn Scence-Plusone8.com.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/Amazing Babe Dani Daniels And The Machine-Plusone8.com.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/Arabian Teen Mia Khalifa Wants Black Cock - 720p Porn Movie-Plusone8.com.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
  <source src="/videos/Awesome pretty brunette girl Dani Daniels with Manuel - Plusone8.com.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/Big Tited Arab Babe Mia Khalifa Loves Cumshout-Plusone8.com.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/Dani Daniels and Jessi June goes lesbian on the couch-Plusone8com.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/Dani Daniels in a solo edition - Plusone8.com.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/LANA_RHOADES_GIVES_SLOPPY_SUCK_JOB_&_GETS_HER_PUSSY_POUNDED_IN_AUDITION(240P).mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/LANA_RHOADES_GIVES_SLOPPY_SUCK_JOB_&_GETS_HER_PUSSY_POUNDED_IN_AUDITION(480P).mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/p36.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/POVD_Next_Level_Message_Fuck_With_Lana_Rhoades(240P).mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/POVD_Next_Level_Message_Fuck_With_Lana_Rhoades(480P).mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/POVD_Next_Level_Message_Fuck_With_Lana_Rhoades(720P).mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/Qualified White Girl Dani Daniels-Plusone8.com.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/Sexy Arab Star Mia Khalifa Full HD Movie-Plusone8.com.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/Sexy_Teen_Stepsister_Lana_Rhoades_Does_The_Splits_On_Her_stepBrother's_Huge_Dick(240P).mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="public\videos\Sexy_Teen_Stepsister_Lana_Rhoades_Does_The_Splits_On_Her_stepBrother's_Huge_Dick(480P).mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/Sexy_Teen_Stepsister_Lana_Rhoades_Does_The_Splits_On_Her_stepBrother's_Huge_Dick(720P).mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/Sexy_Teen_Stepsister_Lana_Rhoades_Does_The_Splits_On_Her_stepBrother's_Huge_Dick(1080P).mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/stepsis_-_Lana_Rhoades_Big_Ass_Bouncing_On_My_Cock(240P).mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/stepsis_-_Lana_Rhoades_Big_Ass_Bouncing_On_My_Cock(480P).mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/stepsis_-_Lana_Rhoades_Big_Ass_Bouncing_On_My_Cock(720P).mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/video1 (1).mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/video1 (2).mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/xvideos.com_4a8e3af35630b1d0e9d0d2b557130467.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/xvideos.com_05fd80b7e102e1e4fcb55db66bce8399.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/xvideos.com_609e66323237435c25ac5c9e6c530c58.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/xvideos.com_9435fbca13f42f91b01398734a835226.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/xvideos.com_73106069ee4f2fd459920b1db5b44834.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/xvideos.com_a00e2cc6cc5bfee91ca2ee03b0e54363.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/xvideos.com_b81899b45ce9b4bd15cbf16b84c17bf0.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/xvideos.com_c19741f5ed1fb345f4b216c027d92204.mp4" type="video/mp4">
</video>
            </div>
            <div id="video">
                <video width="250" height="160" controls>
<source src="/videos/xvideos.com_e36b475c17d81a5cd24d35af079ddbe8.mp4" type="video/mp4">
</video>
            </div>
        </div>
    </div>

    <!--need to add pagination here-->
</body>

</html>