#top {
    border: 2px solid transparent;
    border-radius: 30px;
    background-color: rgb(247, 2, 43);
}

#top header {
    color: white;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
}

#top nav {
    padding: 20px 20px;
    display: inline-block;
}

#top nav a {
    text-decoration: none;
    color: white;
    float: left;
    text-align: center;
    font-size: medium;
    margin-left: 40px;
    margin-bottom: 20px;
}

#top nav a:hover {
    border: 2px solid transparent;
    background-color: rgb(146, 1, 25);
    font-size: medium;
    padding: 2px;
}

#top nav a:active {
    color: yellow;
}

#container {
    display: flex;
    margin-top: 3px;
    padding: 12px 0px;
}

#left {
    border: 2px solid rgb(253, 3, 45);
    margin-left: 10px;
    flex-grow: 0.15;
    background-color: rgb(245, 100, 124);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    border-radius: 20px;
}

#left h1 {
    text-decoration: underline;
    color: white;
    padding: 12px 16px;
    text-align: center;
    font-size: x-large;
}

#left li {
    margin: 20px;
    text-align: center;
}

#left li a {
    color: white;
    text-decoration: none;
    font-size: large;
}

#left li a:hover {
    font-size: larger;
    color: rgb(252, 1, 43);
}

#left li a:active {
    font-size: larger;
    color: yellow;
}

#images {
    border: 2px solid black;
    margin-left: 10px;
    flex-grow: 2;
    background-color: rgb(245, 100, 124);
    border-radius: 10px;
    text-align: center;
}

#images h1 {
    text-decoration: underline;
    color: white;
    padding: 12px 16px;
    text-align: center;
    font-size: x-large;
}