#Error,
#message {
    width: 300px;
    height: fit-content;
    max-height: 200px;
    background-color: black;
    color: #F8C40C;
    border-radius: 20px;
    margin-left: 40%;
    margin-bottom: 40px;
    margin-top: 20px;
}

#Error h3,
#message h3 {
    font-weight: bolder;
    text-align: center;
    margin-top: 10px;
    text-align: center;
    color: #F8C40C;
}

#form {
    border: 2px solid transparent;
    margin-left: 10px;
    flex-grow: 2;
    background-color: black;
    border-radius: 10px;
    text-align: center;
    padding: 12px 16px;
    order: 2;
}

#form h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    font-style: oblique;
    font-size: large;
    color: #F8C40C
}

.product-form {
    max-width: fit-content;
    margin: auto;
    display: block;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input:-webkit-autofill,
.form-control input:-webkit-autofill:hover,
.form-control input:-webkit-autofill:focus,
.form-control input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
    font-size: xx-large;
    font-weight: bolder;
    color: #F8C40C;
}

.form-control input {
    display: block;
    width: fit-content;
    margin-bottom: 0.25rem;
    height: 25px;
    margin-left: 43%;
    margin-top: 20px
}

.form-control textarea {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
    border: 1px solid #F8C40C;
    font: inherit;
    border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
    outline-color: #F8C40C;
}

#form button {
    border-radius: 10px;
    padding: 7px 7px;
    background-color: black;
    border: 1px solid #F8C40C;
    color: #F8C40C;
    font-weight: bold;
    font-size: x-large;
    box-shadow: 2px 2px 4px #F8C40C;
}

#form button:hover {
    box-shadow: 2px 2px 1px black;
    background-color: gold;
    color: black;
}

.form-error {
    margin: 1rem 0;
}

.form-error label,
.form-error input:-webkit-autofill,
.form-error input:-webkit-autofill:hover,
.form-error input:-webkit-autofill:focus,
.form-error input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
    font-size: xx-large;
    font-weight: bolder;
    color: #b4931c;
}

.form-error input {
    display: block;
    width: fit-content;
    margin-bottom: 0.25rem;
    height: 25px;
}

.form-error textarea {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
}

.form-error input,
.form-error textarea {
    border: 2px solid red;
    font: inherit;
    border-radius: 2px;
}

.form-error input:focus,
.form-error textarea:focus {
    outline-color: #b4931c;
}